.post{
    font-family: sans-serif;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.24);
    margin: 30px 0;
    margin-left: 10px;
    border-radius: 10px;
    width: 95%;
   

}
.postImage{
    
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}
.postTop{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    justify-content: space-between;
    
}
.postTopLeft{
    display: flex;
    align-items: center;
}
.postCaption{
    margin-left: 10px;
}
.postUserName{
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    margin-left: 10px;
    
     
}
.postTime{
    font-size: 10px;
    margin-left: 10px;
    
}
.postTopRight {
    position: relative; /* This is necessary for absolute positioning of the dropdown menu */
  }

  .dropdownMenu {
    position: absolute;
    top: 40px; /* Adjust this value as necessary to position the menu below the icon */
    right: 0;
    background-color: white ;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .dropdownItem {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdownItem:hover {
    background-color: #f0f0f0;
  }

.dots{
    margin-right: 10px;
    cursor: pointer;
}

.postedImage{
    width: 50%;
    background-size: cover;
    margin-left: 5px;


}

.postCenter{
margin: 20px 0;
}
.reactionPic{
    width: 32px;
    height: 32px;
    margin-left: 1px;
    cursor: pointer;
}
.postBottom{
    width: 98%;
    align-items: center;
    display: flex;
margin-left: 5px;
justify-content: space-between;

}
.postBottomLeft{
    display: flex;
    align-items: center;
}
.likeCount{
    margin-left: 5px;
    font-size: 15px;
}
.commentCount{
    margin-right: 10px;
    border-bottom:1px dashed grey;
    cursor: pointer;
}

.title{
    border: none;
}
.title:focus{
    outline: none;
}